@import "tailwindcss";

@font-face {
    font-family: RF Dewi;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/RFDewi-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: RF Dewi;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/RFDewi-Bold.woff2") format("woff2");
}

@font-face {
    font-family: RF Dewi;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/RFDewi-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Montserrat;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
    font-family: Cygre;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Cygre-SemiBold.woff2") format("woff2");
}

:root {
    --bg: #17222F;
    --bg-section: #14213C;
    --text: #FFFFFF;
    --dim: #808080;
    --accent: #4593FA;
    --accent-dark: #2B4559;
    --button: #1265D1;
    --primary: #1890FF;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.3;
}

dialog {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
    touch-action: none;
}

.rf-dewi, .rf-dewi * {
    font-family: RF Dewi, sans-serif;
    letter-spacing: -0.04em;
}

.button {
    display: flex;
    height: 60px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    cursor: pointer;
    font: 600 17px/12px Cygre, sans-serif;
    letter-spacing: normal;
    border-radius: 9em;
    padding: 24px;
}

.button-accent {
    background: var(--button);
    color: white;
}

.button-link::after {
    content: url(/images/icon-link.svg);
}

.circle-icon {
    background-color: var(--accent);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    flex-shrink: 0;
    outline-color: var(--accent-dark);
}

.breadcrumb {
    color: rgb(255 255 255 / 85%);
    font-size: 14px;
    margin-block: 20px;
    letter-spacing: -0.02em;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:not(:last-child)::after {
    content: " / ";
}

.radio-label {
    display: block;
    background: white;
    border-radius: 18px;
    color: #222222;
    cursor: pointer;
    padding: 15px 18px;
}

:checked + .radio-label {
    background: var(--accent);
    color: white;
}

.pagination-button {
    width: 32px;
    height: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
}

.pagination-button:disabled {
    color: #D9D9D9;
}

.pagination-button.active {
    color: var(--primary);
    border-color: var(--primary);
    font-weight: 500;
}

.field {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: color-mix(in oklab, var(--button) 20%, transparent);
    border-radius: 18px;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.field-box {
    background: white;
    border-radius: 18px;
    padding: 7px 16px;
    flex: 1;
}

.field-unit {
    min-width: 45px;
    text-align: center;
}

.select {
    display: block;
}

.select-header {
    display: flex;
    align-items: center;
}

.select-body {
    background-color: #C0D5EF;
    border-radius: 0 0 18px 18px;
    padding-bottom: 10px;
}

@media (width >= 64rem) {
    .select[open] {
        border-radius: 18px 18px 0 0;
    }

    .select-body {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 9;
    }
}

.select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-box::after {
    content: url(/images/arrow-down.svg);
    width: 16px;
    height: 16px;
}

.option {
    padding: 4px 12px;
}

.option.selected {
    background: white;
}

.table {
    display: grid;
    font-size: 16px;
    letter-spacing: -0.02em;
}

.table-row {
    display: flex;
    justify-content: space-between;
    padding: 4px 6px;
}

.table-row:nth-child(even) {
    background: white;
}

input[type=number] {
    min-width: 0;
    appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.switch {
    position: relative;
    width: 44px;
    height: 22px;
    border-radius: 9em;
    background: var(--primary);
    padding: 2px;
}

.switch-knob {
    display: block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px #00230B33;
}

:checked + .switch {
    background: var(--primary);
}

:checked + .switch .switch-knob {
    margin-left: auto;
}

.gallery-item:not(.selected) {
    opacity: 0.6;
}
